@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-primary-text: #E0E0E0;
  --color-secondary-text: #B0B0B0;
  --color-border: #444444;
  --color-accent: #888888;
  --color-gold-accent: #F2E497;
  --color-nav: #0D0D0D;
}

::selection {
  background-color: #673AB7;
  color: #E0E0E0;
}

::-moz-selection {
  background-color: #673AB7;
  color: #E0E0E0;
}
