@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --color-background: #121212;
  --color-primary-text: #E0E0E0;
  --color-secondary-text: #B0B0B0;
  --color-border: #444444;
  --color-accent: #888888;
  --color-gold-accent: #F2E497;
  --color-nav: #0D0D0D;
}

::selection {
  background-color: #673AB7;
  color: #E0E0E0;
}

::-moz-selection {
  background-color: #673AB7;
  color: #E0E0E0;
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6, .prose a {
  color: #E0E0E0;
}

.prose p, .prose strong, .prose em, .prose span, .prose ol, .prose ul {
  color: #B0B0B0;
}

.prose code {
  color: #673AB7;
}

.prose strong {
  font-weight: 700;
}

.prose em {
  font-style: italic;
}
