/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */
@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-primary-text: #E0E0E0;
  --color-secondary-text: #B0B0B0;
  --color-border: #444444;
  --color-accent: #888888;
  --color-purple-accent: #673AB7;
  --color-nav: #0D0D0D;
}

html {
  font-family: 'Noto Sans';
}
